@model string

@{
    ViewBag.Title = "title";
    Layout = "_ResidentLayout";
}

<form asp-controller="Voting" asp-action="ResidentVoteForCandidate" method="post">
    <div class="card mb-3">
            <div class="card-body mb-3">
                <h3>Проголосувати</h3>
                <tr>
                    <td class="mb-3">
                        <b>Назва голосування:</b> @ViewBag.PollName
                    </td>
                    <br/>
                    <td class="mb-3">
                        <b>Опис:</b> @ViewBag.PollDescription
                    </td>
                    <br/>
                    <td class="mb-3">
                        <b>Кандидати:</b>
                    </td>
                    <br/>
                    @foreach (var v in @ViewBag.PollCandidatesIdName)
                    {
                        <div class="mb-3"><input type="radio" name="pollCandidateId" value="@v.Item1"/> @v.Item2</div>
                    }
                    <button type="submit" class="btn btn-primary mb-3">Проголосувати</button>
                </tr>
                <br/>
            </div>
        </div>
</form>