@model List<(YourOSBB.Web.Models.Entities.TariffViewModel, YourOSBB.Entities.ApplicationUser Result)>

@{
    ViewBag.Title = "title";
    Layout = "_OsbbHeadLayout";
}

<div>
    <a asp-controller="Tariff" asp-action="CreateTariff" class="btn btn-secondary btn-sm">
        Створити витрату
    </a>
</div>
<div>
    <h3>Витрати жителів ОСББ:</h3>
    <table class="table">
        <thead>
        <tr>
            <th>ПІБ</th>
            <th>Назва</th>
            <th>Опис</th>
            <th>Ціна</th>
            <th>Дія</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Item2.Surname @obj.Item2.Name @obj.Item2.PatronymicName</td>
                <td>@obj.Item1.Name</td>
                <td>@obj.Item1.Description</td>
                <td>@obj.Item1.Cost грн.</td>
                <td>
                    <a asp-controller="Tariff" asp-action="UpdateTariff" asp-route-id="@obj.Item1.TariffId" class="btn btn-secondary btn-sm">Змінити</a>
                    <form asp-controller="Tariff" asp-action="DeleteTariff" method="post">
                        <input type="hidden" name="tariffId" value="@obj.Item1.TariffId"/>
                        <button type="submit" class="btn btn-danger btn-sm">Видалити</button>
                    </form>
                </td>
            </tr>
        }
        <tr>
            <td><b>Сума:</b></td>
            <td></td>
            <td></td>
            <td>@ViewBag.UsersCostSum грн.</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>