@model IEnumerable<(YourOSBB.Web.Models.Entities.ProposalViewModel, YourOSBB.Entities.ApplicationUser Result)>

@{
    ViewBag.Title = "title";
    Layout = "_OsbbHeadLayout";
}
@*
<div>
    <a asp-controller="Proposal" asp-action="CreateProposal" class="btn btn-secondary">
        Створити пропозицію
    </a>
</div>
*@
<div>
    <h3>Пропозиції від жителів ОСББ:</h3>
    @foreach (var obj in Model)
    {
        <div class="card mb-3">
            <div class="card-body mb-3">
                <tr>
                    <td>
                        <h5>@obj.Item1.Name</h5>
                    </td>
                    <td>
                        @obj.Item1.Text
                    </td>
                    <br/>
                    <td>
                        <i>@obj.Item2.Surname @obj.Item2.Name @obj.Item2.PatronymicName</i>
                    </td>
                    <br/>
                    <td>
                        <b>Дата:</b> @obj.Item1.Date
                    </td>
                    <br/>
                </tr>
                <br/>
            </div>
        </div>
    }
</div>
